@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes title-animation {
  from {
    left: 12.5rem;
    color: rgba(0, 0, 0, 0); }
  to {
    left: 0;
    color: #fbfaf9; } }

@keyframes job-animation {
  from {
    left: -12.5rem;
    color: rgba(0, 0, 0, 0); }
  to {
    left: 0;
    color: #fbfaf9; } }

@keyframes learn-more-animation {
  from {
    top: 12.5rem;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }