.section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

.bgrad {
    background: linear-gradient(0.25turn,#01253d, #000b18, #01253d);
    box-shadow: 2px 2px 6px 0px white;
}
  
.bspace {
  background-image: url("../public/images/space2.jpeg");
  background-size: cover; 
}

.icon {
  margin: 0 1rem 0 1rem
}